@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;600;700&display=swap");

* {
  font-family: "Barlow", sans-serif;
}

body {
  background-color: #f5f5f5;
}

h1 {
  font-weight: 600;
  font-size: 30px;
}

h2 {
  font-weight: 700;
  font-size: 18px;
}

h3 {
  font-weight: 600;
  font-size: 16px;
}

h4 {
  font-weight: 700;
  font-size: 20px;
}

h5 {
  font-weight: 700;
  font-size: 30px;
}

p {
  font-weight: 400;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

section {
  padding-left: 15vw;
  padding-right: 15vw;
}

.span_bold {
  font-weight: 600;
  font-size: 16px;
}

.far {
  color: #788085;
  padding: 4px;
}

/* .btn-primary {
  background-color: #42c1c6;
  border-radius: 0;
  border: none;
  padding: 2px 10px;
  font-weight: 600;
  font-size: 12px;
}

.btn:hover {
  background: #265769 !important;
  color: white !important;
} */

a {
  text-decoration: none;
  color: black;
}
/* Navbar */

.navBar-base {
  background-color: #42c1c6;
}

.dashNav .dashNav_part {
  display: flex;
  align-items: center;
}
.dashNav .dashNav_part li {
  color: white;
  margin-left: 20px;
}
.dashNav img {
  width: 100px;
}

.dashNav .nav-icon {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.dashNav .nav-icon-link {
  margin-left: 24px;
  height: 20px;
  width: 20px;
}

.dashNav .onthisBtn {
  border-radius: 0;
  background: transparent;
  border: none;
  border-bottom: 3px solid white;
  font-weight: 700;
  color: white;
  box-shadow: none;
}

.dashNav .notonthisBtn {
  border-radius: 0;
  background: transparent;
  border: none;
  font-weight: 700;
  color: rgb(107, 107, 107);
  box-shadow: none;
}
.navbtn {
  background-color: #42c1c6;
  border: none;
}

/* Intro */
.intro {
  margin-top: 3rem;
}
.intro .card-body {
  padding: 30px;
}
.intro_info td {
  height: 40px;
}

.Cinfoheader {
  padding: none;
  margin: 0;
  padding-bottom: 40px;
}
.Cinfoheadertitle {
  padding-top: 17px;
}
.CinfoName {
  padding-top: 20px;
}
.Cinfologo {
  padding-left: 2ch;
}
.Cinfocol {
  padding-left: 9vh;
  padding-right: 5vh;
  display: flex;
  text-align: top;
  font-weight: 600;
  line-height: 40px;
}
.info-heading-container {
  padding: 0px !important;
}

.info-heading {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100%;
}

.info-content {
  padding-left: 25px;
  width: 65%;
}

.intro_info img {
  border: 1px solid rgba(226, 226, 226, 0.514);
  object-fit: scale-down;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 10px;
}

.intro_info h1 {
  color: #42c1c6;
}

.intro_text p {
  font-weight: 600;
  line-height: 40px;
}

.intro_text span {
  font-weight: 400;
  line-height: 40px;
}

.intro_photo img {
  object-fit: cover;
  height: 100%;
}

.farm_info {
  margin-bottom: 0px;
  font-size: 20px;
}

.farm_location {
  margin-top: 30px !important;
  font-size: 30px;
}

/* Impact */
.m-3 {
  margin: 5px !important;
}

.impact-up {
  display: flex;
}

.impact-down {
  display: flex;
}

.impact_icon {
  height: 88px;
  display: inline-block;
  padding: 5px;
}

.impact_info {
  display: inline-block;
  vertical-align: middle;
}

.impact_group {
  padding-left: 25px;
}

.impact_group h2 {
  font-weight: 400;
}

.impact_title {
  font-size: 23px;
}

.impact_data {
  font-size: 20px;
}

.impact_freq {
  font-size: 12px;
}

a:hover {
  color: #42c1c6 !important;
}

.impact_freq {
  font-size: 12px;
  font-weight: 400;
}

.impact .impact_icon {
  height: 88px;
  display: inline-block;
  margin-right: 15px !important;
}

.impact .impact_group {
  padding: 10px 10px 10px 25px;
}

.timeframe-option .current {
  color: #58bfbf;
  border-bottom: solid 1px;
}

.soil-planted {
  width: 200px;
  padding-left: 10px;
}

/* Overview */
.OverFnorow {
  flex-wrap: nowrap;
}
.overview_title {
  font-size: 20px;
}

.overview_box {
  padding: 20px;
  width: 500px;
  box-sizing: border-box;
}

.overview .empty_div {
  background-color: #f5f5f5;
  width: 10px;
}

.overview_icon {
  width: 73px;
  display: inline-block;
}

.overview_freq {
  font-size: 12px;
  font-weight: 400;
}

.overview_info {
  display: inline-block;
  vertical-align: middle;
}

.productivity {
  color: #42c1c6;
  text-align: center;
}

.doughnut-container {
  width: 180px;
}

/* Progress */

/* bar */
.w3-bar-item {
  color: #788085;
  border: none;
  background-color: #f5f5f5;
  font-weight: 600;
  margin: auto 12px;
}

.w3-bar-item:hover {
  color: #42c1c6;
}

.w3-bar-item:focus {
  color: #42c1c6;
  text-decoration: underline;
}

.crops_img img {
  object-fit: cover;
  height: 380px;
  width: 560px;
}

.crops_img span {
  font-weight: 100;
}

.crops_date {
  color: white;
  position: absolute;
  margin: 330px 20px auto auto;
}

.crops .card-title {
  color: #42c1c6;
  text-align: center;
  font-weight: 600;
  margin: 10px auto;
}

.carousel-inner {
  padding-left: 11px;
  width: 99%;
}
.crops .card-body p {
  font-weight: 600;
  line-height: 40px;
  overflow: hidden;
}

.crops .card-body span {
  font-weight: 400;
  line-height: 40px;
}

/* Change Pw*/
.ChangePwModal {
  margin-top: 150px;
}

.ChangePwBtn {
  width: 75px;
  height: 32px;
  font-size: 16px;
  border-radius: 15px;
}

.ChangePwBtn-submit,
.ChangePwBtn-submit:focus {
  background-color: #42c1c6;
  border: none;
}
.ChangePwBtn-submit:hover {
  background-color: #42c1c6;
  filter: brightness(1.1);
}

.ChangePwBtn-cancel,
.ChangePwBtn-cancel:focus {
  background-color: #788985;
  border: none;
}

.ChangePwBtn-cancel:hover {
  background-color: #788985;

  filter: brightness(1.1);
}

.PWerrormsg {
  margin-top: 10px;
  color: red;
}

/* footer*/
.footer {
  background-color: #42c1c6;
  height: 200px;
  margin-top: 3rem;
  padding: 1vw 16vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
}

.footerlogo {
  width: 200px;
  resize: both;
}
.footer-copyright {
  display: flex;
  justify-content: flex-end;
  color: white;
}
