.farmer_navbar {
  height: 7vh;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: rgb(66, 193, 198);
  display: flex;
  align-items: center;
  background-color: rgb(66, 193, 198);
  box-shadow: 0px 2px 5px 5px gray;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;
}

.navbar {
  width: 100%;
}

.navbar_Title {
  font-size: 19px;
  line-height: 19px;
  background-color: rgb(66, 193, 198);
  color: white;
  font-family: "Barlow";
}
.navbar_logo {
  background-color: rgb(66, 193, 198);
  height: 24px;
  width: 69px;
}
.navbarToggle,
.navbarToggle:active,
.navbarToggle:hover,
.navbarToggle:focus,
.navbar.navbar-default {
  border: none;
  box-shadow: none;
  border-color: none;
}

.Offcanvas {
  width: 200px;
  background-color: rgb(66, 193, 198);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 3px 0px 5px 5px gray;
}
.Offcanvas li {
  color: white;
  list-style-type: disc;
  cursor: pointer;
}
.Offcanvas li:hover{
  color: black;
}
.farmer_name {
  color: white;
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 30px;
}
