.welcome {
  margin: 0;
  height: 100vh;
}
.welcome-heading {
  width: 500px;
  padding-top: 100px;
  margin-left: 100px;
}
.heading {
  color: white;
  font-weight: 700;
  font-size: 44px;

  display: block;
  font-style: normal;
  margin: 0 0 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.4;
}
.loginbutton{
  font-family: 'Barlow', sans-serif;
  background:black;
  color: #ffffffcc;
  border: none;
  border-radius: 10px;
  width: 70px;
  height: 40px;
}
.loginbutton:hover{
  color: #ffffff;
}
.intro {
  color: white;
  text-align: justify;
  display: block;
}

.content {
  padding-top: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../../../image/background/rooftopfarm.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background: linear-gradient();
}
.welcome-heading button {
  background: #43c1c6;
  padding: 12px 24px;
  color: white;
  border: none;
  font-family: DIN2014, DIN Next, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2em;
  font-size: 14px;
  text-transform: uppercase;
}
.modalheader{
  font-family: 'Barlow', sans-serif;
}
.modalbody{
  background-color: #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.modalbody label{
  font-family: 'Barlow', sans-serif;
  margin-bottom: 5px;
}
.modalbody input{
  font-family: 'Barlow', sans-serif;
}