/*admin body*/
.admin-body{
    font-family: 'Barlow', sans-serif;
}
/*control panel*/
.admin-control{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;

}
.admin-btn-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.admin-sub-title{
    font-weight: 400;
    font-size: 20px;
    margin-top: 60px;
    line-height: 30px;
}
.admin-sub-btn{
    background-color: #F5F5F5;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border: none;
    margin-bottom: 13px;
    color: rgba(0, 0, 0,.5);
}
.admin-sub-btn:focus{
    color: rgb(0, 0, 0);
}
/*input body*/
.admin-form{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*form wrapper*/
.admin-form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.admin-input-wrapper{
    margin-bottom: 30px;
}
.admin-input-box,
.admin-input-box-tel,
.admin-input-box-postCode{
    background: #F5F5F5;
    border-radius: 25px;
    border: none;
    height: 35px;
    padding-left: 25px;
}
.admin-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 36px;
    margin-top: 42px;
    margin-bottom: 75px;
}
.admin-input-title{
    font-size: 20px;
    line-height: 24px;
}
.admin-logo-name{
    margin-top: 8px;
    font-size: 15px;
    line-height: 18px;
}
.admin-logo-select-btn{
    background: #F5F5F5;
    border-radius: 25px;
    width: 116px;
    height: 35px;
    border: none;
    font-size: 15px;
    line-height: 18px;
}
.admin-logo-select-btn:focus{
    border: 2px solid black;
}
.admin-client-create-btn,
.admin-farmer-create-btn{
    background: #F5F5F5;
    margin-top: 108px;
    width: 143px;
    height: 44px;
    border: none;
    background: #F5F5F5;
    border-radius: 25px;
}
.admin-client-create-btn:focus,
.admin-farmer-create-btn:focus{
    border: 2px solid black;
}
/*list wrapper*/
.admin-list-wrapper{
    background-color: #F5F5F5;
}
.admin-list-item-name{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-top: 20px;
    padding-left: 80px
}
.admin-list-item-user{  
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-top: 20px;
    padding-left: 80px
}
.admin-list-item-label{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-top: 20px;
    padding-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-list-farmer-edit-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.admin-list-farmer-edit-btn{
    width: 30px;
    height: 30px;
    border: none;
}
/*checkbox*/
.admin-input-checkbox-label{
    font-size: 20px;
    line-height: 24px;
}
.admin-input-checkbox-box{
    width: 18px;
    height: 19px;
    margin-left: 23px;
}
